<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
    .container {
      max-width: 1200px;
    }
  </style>
  <title>Create Post</title>
</head>
<body class="container">
<h2>게시글 작성</h2>
<form th:action="@{/post/addPost}" method="post">
  <label for="title">제목:</label>
  <input type="text" id="title" name="title" required><br><br>

  <label for="body">내용:</label>
  <input type="text" id="body" name="body" required><br><br>

  <button type="submit">Create Post</button>
</form>
</body>
</html>
